<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--<add key="ServiceInterval" value="600000"/>  -->
    <add key="ServiceInterval" value="30000" />
    <!--in Min-->
	 
	 
	  <add key ="AppPath" value="C:\Korbose\23-04_2018\EDIWindowService\EDIWindowService\"/>
    <add key="EDI_Inbound" value="EDI_INBOUND\TestCompany" />
    <add key="EDI_Outbound" value="EDI_OUTBOUND" />
	  <add key="EDI_AllFiles" value="EDI_AllFiles" />
    <add key="EDI_Accepted" value="EDI_ACCEPTED" />
    <add key="EDI_Rejected" value="EDI_REJECTED" />
    <add key="EDI_Done" value="EDI_DONE" />
    <add key="EDI_997" value="EDI_997" />
    <add key="Seffolder" value="SEF" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="IntervalTime" value="20000" />
    <add key="TempFile" value="TempFile" />  
    <!-- 1 Minute in milisecond.-->
  </appSettings>
  <connectionStrings>
    <!--<add name="EdiDbConnectionString" connectionString="data source=DESKTOP-M9F7JIA;initial catalog=EDIDB;user id=sa;Password=sa12345;" providerName="System.Data.SqlClient" />-->
	 <add name="EdiDb"  connectionString="data source=PRAVEEN-PC;initial catalog=edi_portal;user id=sa;Password=Korbose@123;" providerName="System.Data.SqlClient" />
	 
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>