
@model EDI.Models.tradingPartnerSetup

<div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#TradingPartnerDetails" role="tab"><span><i class="ti-user"></i></span> Step 1: EDI Partners</a> </li>
    </ul>
    <div class="tab-content  tabcontent-border">
        <div class="tab-pane active" id="TradingPartnerDetails" role="tabpanel">
            <div class="p-20">
                <div class="row"> <label> Select all accounts that equal Trading partner in your Business System </label></div>
                <div class="border" style="padding:10px">
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSM" type="checkbox">
                            <label for="PETSM">  PETSM-BETHEL DC   </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMGROVEPORT" type="checkbox">
                            <label for="PETSMGROVEPORT"> PETSM-GROVEPORT DC  </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMNEWNAN" type="checkbox">
                            <label for="PETSMNEWNAN"> PETSM-NEWNAN DC  </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMOTTAWA" type="checkbox">
                            <label for="PETSMOTTAWA">  PETSM-OTTAWA DC   </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMPHOENIX" type="checkbox">
                            <label for="PETSMPHOENIX">  PETSM-PHOENIX DC   </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMRENO" type="checkbox">
                            <label for="PETSMRENO">  PETSM-RENO DC  </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMPacific" type="checkbox">
                            <label for="PETSMPacific">  United Pacific Pet-Ontario </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 checkbox checkbox-primary pull-left p-t-0">
                            <input id="PETSMUPP" type="checkbox">
                            <label for="PETSMUPP">  UPP  </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
