
@model EDI.Models.tradingPartnerSetup

<div>
    <div class="row" style="margin:10px">
        Partner GL Account
    </div>
    <div class="clear"></div>
    <div class="row"  style="padding:10px; margin:10px">
        <fieldset>
            <legend>  Item GL Accounts Information      </legend>
            <div class="row" style="padding:10px;">
                <div class="col-md-2">Income :</div>
                <div class="col-md-4"> @Html.TextBoxFor(x => x.Name) </div>
                <div class="col-md-2">Expense :</div>
                <div class="col-md-4"> @Html.TextBoxFor(x => x.Name)  </div>
            </div>
        </fieldset>
    </div>
</div>