@model EDI.Models.tradingPartnerSetup
  
<div>
    <div class="Integration Settings"> Integration Settings </div>
    <div class="row">
        <div class="col-md-2">
            <label>Integration Type</label>
        </div>
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.Name)
        </div>
    </div>
    <div>
        <input type="checkbox" id="usePartnerLevelSettings" />
        <label for="usePartnerLevelSettings">Use Partner Level Settings</label>
    </div>
    <div>
        <input type="checkbox" id="usePartnerLevelSettings" />
        <label for="usePartnerLevelSettings">Include Components</label>
    </div>
</div>  
